<h1>{{network}} {{lineName}}</h1>

<div>
    <p *ngIf="line == null">Loading lines...</p>

    <table *ngIf="line != null">
        <thead>
        <tr>
            <th>Regular trips per week</th>
            <td *ngFor="let route of someRoutes; let i = index"
                class="route-column">
                {{route.count}}
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stop of line.stops">
            <td>
                <div>
                    <strong>{{stop.name}}</strong>&nbsp;
                    <a *ngIf="stationUrlForId(stop) != null"
                       [routerLink]="stationUrlForId(stop)"
                    >
                        view station
                    </a>
                </div>
                <div class="tooltip">{{platformSummary(stop)}}
                    <span class="tooltiptext">{{platformSummaryPhrase(stop)}}</span>
                </div>
            </td>
            <td *ngFor="let route of someRoutes; let i = index"
                [class.stops-here]="stop.stopsAtRoute(i)"
                class="route-column">
            </td>
        </tr>
        </tbody>
    </table>
</div>
