<loading-component *ngIf="loading"></loading-component>

<ng-container *ngIf="!loading">

    <h1>German train stations</h1>

    <router-outlet [routes]="Routes.all"></router-outlet>

    <p class="footer-links">Station data provided by
        <a href="http://data.deutschebahn.com/organization/db-station-service">
            DB Station und Service
        </a>. Presentation layer <a href="https://gitlab.com/matey-jack/station-data">open-source</a>.
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7hRlIzZy6DvGRlE1l-p2y0HESLhIe7JAmpXn8np96NyEpdA/viewform?usp=sf_link">Contact / Feedback</a>
    </p>

</ng-container>
<!--
<div id="tabs-or-columns">
  // on desktop, we could show both views (line and station) side-by-side...
  // https://dart-lang.github.io/angular_components/#/material_tab
  // https://stackoverflow.com/questions/23555978/bootstrap-responsive-layout-in-mobile-convert-to-tabs

    <div id="left" class="half_screen">
        <station-component></station-component>
    </div>

    <div id="right" class="half_screen">
        Lines will be here!
    </div>
</div>
-->

