:host {
    /* This is equivalent of the 'body' selector of a page. */
}

h1 {
    margin-top: 0em;
}

.footer-links {
    font-size: 70%;
}

.half_screen {
    margin: 2em;
}

#tabs-or-colums {
  display: flex;
}

#left {
  flex: 0 0 50%;
}

#right {
  flex: 1;
}