<label *ngIf="stationNames.isNotEmpty" for="stationInput">
    Choose a train station:&nbsp;
</label>

<material-auto-suggest-input
        *ngIf="stationNames.isNotEmpty"
        #stationInput
        [selectionOptions]="stationNames"
        [(inputText)]="stationName"
        (selectionChange)="onSelectStation"
        [showClearIcon]="true"
>
</material-auto-suggest-input>

<div *ngIf="stationNames.isEmpty">
    Loading station names ...
</div>

<div class="box">

    <p *ngIf="noStationSelected">
        Here platforms will be shown...
    </p>

    <p *ngIf="noStationFound">
        Station <strong>{{stationName}}</strong> only exists in the timetable, but not infrastructure data.
        This probably means that the station is managed by a regional agency, not DB Netz.
    </p>

    <div *ngIf="station != null">
        <h3 class="infra-name">{{station.name}}</h3>
        <div class="infra-ids">DS100 <strong>{{station.ds100}}</strong></div>

        <p>The time-table has {{numEvaStationsPluralized}} here.</p>

        <div *ngFor="let evaStation of station.evaStations">
            <h4 class="eva-name">{{evaStation.name}}</h4>
            <div class="infra-ids">
                EvaId <strong>{{evaStation.evaId}}</strong> &nbsp;
                –&nbsp; DS100 <strong>{{evaStation.ds100Str}}</strong>
            </div>

            <ul>
                <li *ngFor="let platform of getPlatforms(evaStation)">
                    {{platform.platformName}}/<strong>{{platform.trackName}}</strong>
                    {{platform.length}}&nbsp;m long and {{platform.height}} cm high
                </li>
            </ul>

            <!-- here we have something interesting enough to become a separate component one day -->
            <div class="line-refs" *ngIf="evaStation.lines != null">
                <div class="line-refs-intro">The following services tend to stop here:</div>
                <dl>
                    <ng-container *ngFor="let network of evaStation.lines.lineNetworks">
                        <dt>{{network}}</dt>
                        <dd>
                            <ng-container *ngFor="let line of evaStation.lines.linesForNetwork(network)">
                                <a [routerLink]="lineUrl(network, line)">
                                    {{line}}
                                </a>&nbsp;
                            </ng-container>
                        </dd>
                    </ng-container>
                </dl>
            </div>
            <hr>
        </div>

        <div *ngIf="station.evaStations.isEmpty">
            <ul>
                <li *ngFor="let platform of station.platforms">
                    {{platform.platformName}}/<strong>{{platform.trackName}}</strong>
                    {{platform.length}}&nbsp;m long and {{platform.height}} cm high
                </li>
            </ul>
        </div>
    </div>

</div>
